In [26]:
!pip install datasets transformers attrdict

Requirement already satisfied: datasets in /usr/local/lib/python3.7/dist-packages (1.6.2)
Requirement already satisfied: transformers in /usr/local/lib/python3.7/dist-packages (4.5.1)
Requirement already satisfied: attrdict in /usr/local/lib/python3.7/dist-packages (2.0.1)
Requirement already satisfied: fsspec in /usr/local/lib/python3.7/dist-packages (from datasets) (2021.4.0)
Requirement already satisfied: huggingface-hub<0.1.0 in /usr/local/lib/python3.7/dist-packages (from datasets) (0.0.8)
Requirement already satisfied: xxhash in /usr/local/lib/python3.7/dist-packages (from datasets) (2.0.2)
Requirement already satisfied: pyarrow>=1.0.0<4.0.0 in /usr/local/lib/python3.7/dist-packages (from datasets) (3.0.0)
Requirement already satisfied: multiprocess in /usr/local/lib/python3.7/dist-packages (from datasets) (0.70.11.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from datasets) (20.9)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from datasets) (1.19.5)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.7/dist-packages (from datasets) (2.23.0)
Requirement already satisfied: dill in /usr/local/lib/python3.7/dist-packages (from datasets) (0.3.3)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from datasets) (1.1.5)
Requirement already satisfied: tqdm<4.50.0,>=4.27 in /usr/local/lib/python3.7/dist-packages (from datasets) (4.41.1)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from datasets) (3.10.1)
Requirement already satisfied: sacremoses in /usr/local/lib/python3.7/dist-packages (from transformers) (0.0.45)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from transformers) (3.0.12)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (2019.12.20)
Requirement already satisfied: tokenizers<0.11,>=0.10.1 in /usr/local/lib/python3.7/dist-packages (from transformers) (0.10.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from attrdict) (1.15.0)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->datasets) (2.4.7)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->datasets) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->datasets) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->datasets) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->datasets) (2.10)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->datasets) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->datasets) (2.8.1)
Requirement already satisfied: typing-extensions>=3.6.4; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from importlib-metadata; python_version < "3.8"->datasets) (3.7.4.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata; python_version < "3.8"->datasets) (3.4.1)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (1.0.1)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (7.1.2)

In [27]:
import torch
import torch.nn as nn
from transformers import BertPreTrainedModel, BertModel
from transformers import BertTokenizer
from typing import Union, Optional

import numpy as np
from transformers.pipelines import ArgumentHandler
from transformers import (
    Pipeline,
    PreTrainedTokenizer,
    ModelCard
)
from pprint import pprint
import os
import google.colab as colab
import pandas as pd
import json
from sklearn.metrics import multilabel_confusion_matrix
import matplotlib.pyplot as plt
import random

In [28]:
def mount_google_drive():
	'''
	# Functionality
		Mount google drive. Since colab does not save files, we want to make it easier to directly access files in google drive.
	# Arguments
		Nothing
	# Returns
		drive_root: the working directory mounted
	'''
	mount_directory = "/content/gdrive"
	drive = colab.drive
	drive.mount(mount_directory, force_remount=True)
	drive_root = mount_directory + "/" + list(filter(lambda x: x[0] != '.', os.listdir(mount_directory)))[0]
	return drive_root

ROOT_DIR =  mount_google_drive() + "/goemotion/"
CHECKPOINT_ROOT = ROOT_DIR+ "goemotion-ckpt/original/checkpoint-10000"

Mounted at /content/gdrive

In [29]:
test_df = pd.read_csv(ROOT_DIR + "data/original/test.tsv", sep='\t', header=None, names=["sentence", "label", "encoding"])
test_sentences = test_df.sentence.tolist()

In [30]:
# Load T5 mapping
with open(ROOT_DIR + "t5.json", 'r') as f:
  t5_map = json.load(f)

In [31]:
test_df

                                               sentence label encoding
0     Iâ€™m really sorry about your situation :( Altho...    25  eecwqtt
1       It's wonderful because it's awful. At not with.     0  ed5f85d
2     Kings fan here, good luck to you guys! Will be...    13  een27c3
3     I didn't know that, thank you for teaching me ...    15  eelgwd1
4     They got bored from haunting earth for thousan...    27  eem5uti
...                                                 ...   ...      ...
5422  Thanks. I was diagnosed with BP 1 after the ho...    15  efeeasc
5423                             Well that makes sense.     4  ef9c7s3
5424                                Daddy issues [NAME]    27  efbiugo
5425  So glad I discovered that subreddit a couple m...     0  efbvgp9
5426  Had to watch "Elmo in Grouchland" one time too...    27  edtjpv6

[5427 rows x 3 columns]

In [32]:
candidate_sentences = [t5_map[x][random.randint(0, len(t5_map[x]) - 1)] for x in test_sentences]

In [33]:
new_df = test_df.copy()

In [34]:
new_df["sentence"] = candidate_sentences

In [35]:
new_df

                                               sentence label encoding
0     Iâ€™m really sorry about your situation :( altho...    25  eecwqtt
1      Is it wonderful because it's awful. At not with.     0  ed5f85d
2     What are the chances of a Kings win, good luck...    13  een27c3
3     Thank you for teaching me! I was surprised to ...    15  eelgwd1
4     Had been a ghost for thousands of years. They ...    27  eem5uti
...                                                 ...   ...      ...
5422   How can I get rid of BP 1 after hospitalization?    15  efeeasc
5423                          Why does this make sense?     4  ef9c7s3
5424                Daddy issues [NAME] in U.S.C.A.G.E.    27  efbiugo
5425  How fun is to visit reddit with other authors ...     0  efbvgp9
5426  Do I need to watch "Elmo in Grouchland" until ...    27  edtjpv6

[5427 rows x 3 columns]

In [36]:
test_df

                                               sentence label encoding
0     Iâ€™m really sorry about your situation :( Altho...    25  eecwqtt
1       It's wonderful because it's awful. At not with.     0  ed5f85d
2     Kings fan here, good luck to you guys! Will be...    13  een27c3
3     I didn't know that, thank you for teaching me ...    15  eelgwd1
4     They got bored from haunting earth for thousan...    27  eem5uti
...                                                 ...   ...      ...
5422  Thanks. I was diagnosed with BP 1 after the ho...    15  efeeasc
5423                             Well that makes sense.     4  ef9c7s3
5424                                Daddy issues [NAME]    27  efbiugo
5425  So glad I discovered that subreddit a couple m...     0  efbvgp9
5426  Had to watch "Elmo in Grouchland" one time too...    27  edtjpv6

[5427 rows x 3 columns]

In [38]:
new_df.to_csv(ROOT_DIR + "data/new.tsv", sep='\t', index=False, header=False)